  .mb-4
    = link_to "Log in", "", data: { toggle: "modal", target: "#sign-in-modal", dismiss: "modal" }, class: "link"

  .mb-4
   = link_to "Sign up", "", data: { toggle: "modal", target: "#sign-up-modal", dismiss: "modal" }, class: "link"
