.text-center.flex-column.border-0.mt-3
  .my-3
    = link_to "Log in", "", data: { toggle: "modal", target: "#sign-in-modal", dismiss: "modal" }, class: "footer-link"
  .my-3
    = link_to "Sign up", "", data: { toggle: "modal", target: "#sign-up-modal", dismiss: "modal" }, class: "footer-link"
