<div class="modal fade" id="new_password_modal" tabindex="-1" role="dialog" aria-labellebdy="new password modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content shadow">


      <div class="modal-header border-0 flex-column" >
        <div class="w-100">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" id="close-modal-cross">&times;</span>
          </button>
        </div>
        <div class="text-center w-100">
           <h5 class="modal-title my-3">Forgot your password?</h5>
        </div>
      </div>

      <div class="modal-body mx-5 px-4">

        <%= form_for(:user, url: password_path(:user), html: { method: :post, :'data-type' => 'json', id: 'new_password_user' }, remote: true) do |f| %>

          <div class="form-group">
            <small class="form-text">Email</small>
            <%= f.email_field :email, class: "form-control modalInput" %>
          </div>

          <div class="actions">
            <%= f.submit "SEND", class: "btn mt-1 w-100 text-light", id: 'modalSubmitButton' %>
          </div>
        <% end %>

        <%= render "/shared/devise_modals/footer_links" %>
      </div>
    </div>
  </div>
</div>
