#new-confirmation-modal.modal.fade[tabindex="-1" role="dialog" aria-labellebdy="new-confirmation-modal" aria-hidden="true"]
  .modal-dialog.modal-dialog-centered[role="document"]
    .modal-content.shadow
      .modal-header.border-0.flex-column
        .w-100
          button.close[type="button" data-dismiss="modal" aria-label="Close"]
            span#close-modal-cross[aria-hidden="true"]
              | ×
        .text-center.w-100
          h5.modal-title.my-2
            | Resend confirmation instructions
      .modal-body.mx-5.px-4
        = form_for(:user, url: password_path(:user), confirmation_path: { method: :post }, remote: true) do |f|
          .form-group
            small.form-text
              | Email
            = f.email_field :email, class: "form-control modal-input", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
          .actions
            = f.submit "RESEND", class: "btn mt-1 w-100 text-light", id: 'modal-submit-button'
        .text-center.flex-column.border-0.mt-3
          = render "/shared/devise_modals/footer_links"
          - if devise_mapping.confirmable? && controller_name != 'confirmations'
            .my-3
              = link_to "Forgot your password?", "", data: { toggle: "modal", target: "#new-password-modal", dismiss: "modal" }, class: "footer-link"
