.container-fluid.d-flex.justify-content-center
  #notifications.notification-wrapper.shadow.mt-3.rounded class=("js-with-unread" if current_user.notifications.unread.any?)
    = render @notifications
