body
  overflow-y: scroll

.categories-filters
  align-items: center

.categories-filters
  a
    flex-basis: 20%
    text-align: center

.categories-dropdown
  align-items: flex-end
  justify-content: flex-end

.underline
  border-bottom: 2px solid #005164
