// carousel for kind offer#new in lots/:id
.slick-slide
  margin: 0 20px

.slick-lot-image
  width: 100%

.slick-lot-container
  overflow: hidden
  &:focus
    outline-style: none

.active-lot
  box-shadow: 0px 0px 5px 5px #005164 !important

.offer-description
  min-height: 40px

.slick-prev:before, .slick-next:before
  color: #005164 !important

.offer-new-container
  height: 40px
  display: flex
  justify-content: flex-end
  margin-top: 10px
  width: 100%
  align-items: center

.offer-button
  background-color: #005164 !important
  border-radius: 3px !important
  margin: 10px 0 0 10px
  width: 150px !important

//offers i made in /profile
.offer-container
  .offer-card
    height: 250px
    width: 250px

  .image-container
    position: relative
    display: flex
    align-items: center
    justify-content: center
    height: 200px
    width: 100%

  .image
    max-height: 100%
    max-width: 100%
    width: auto

  p
    padding: 10px

.offer-messages-container
  width: 100%
