.lot-image-container
  display: flex
  align-items: center
  justify-content: center

.lot-image-container:hover
  .lot-action-buttons
    display: flex

.card-img-top
  height: 220px
  max-width: 100%
  width: auto

.lot-action-buttons
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  display: none
  background-color: rgba(255, 255, 255, 0.7)
  align-items: center
  justify-content: space-around

.lot-action-button
  border: 2px solid #005164
  &:hover
    background-color: rgba(255, 255, 255, 0.5)
    box-shadow: 0 0 50px #FFF


.int-categories-box
  position: relative
  top: 7px
  max-height: 25px
  max-width: 150px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis


.add-listing-div-link
  position: block
  display: block
  width: 100%
  height: 100%
  text-align: center

.add-listing-span
  position: relative
  top: 45%

.add-listing-card
  height: 355px
